@model IEnumerable<Projeto.Models.Ingredientes>

@{
    ViewBag.Title = "Lista de Ingredientes";
}

<h2>Ingredientes</h2>

<p>
    @Html.ActionLink("Voltar", "Voltar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ingrediente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor_Ingrediente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ingrediente)
        </td>
        <td>                         
            @Html.DisplayFor(modelItem => item.Valor_Ingrediente)
        </td>
    </tr>
}

</table>
