@model IEnumerable<Projeto.Models.Ingredientes>

@{
    ViewBag.Title = "Personalizar Lanches";
}

<h2>Lista de ingredientes disponíveis para personalizar os lanches</h2>

<p>
    @Html.ActionLink("Voltar", "Voltar")
</p>

<form action="ListaLanchesPersonalizados" method="post">


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo_Ingrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingrediente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor_Ingrediente)
            </th>
            <th>
                Quantidade
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo_Ingrediente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingrediente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor_Ingrediente)
                </td>
                <td>
                    @*@Html.EditorFor(modelItem => item.Qtde_Ingrediente)
                        @Html.ValidationMessageFor(modelItem => item.Qtde_Ingrediente, "Erro", new { @class = "text-danger" })*@
                    @Html.TextBoxFor(modelItem => item.Qtde_Ingrediente,
                       new { @type = "number", @class = "span4", @min = "0" })
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>*@
            </tr>

        }

    </table>

@*@Html.ActionLink("Personalizar Lanche", "ListaLanchesPersonalizados", null, new { @class = "btn btn-primary btn-lg" })*@
<input type="submit" value="Personalizar Lanche" />

</form>





